/* Import Tailwind */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

* {
  @apply box-border;
}

/* Keeps Footer at the Bottom of the Page always... */
.site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

@theme {
  --font-heading: "Montserrat", system-ui, sans-serif;
  --font-sans: "Figtree", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  /* Light Mode Color Palette */
  --color-background: #f5f4f1;
  --color-surface: #eceae5;
  --color-card: #e4e1db;
  --color-text: #2e2c28;
  --color-heading: #1a1917;
  --color-primary: #156658;
  --color-secondary: #1d8c74;
  --color-accent: rgba(29, 140, 116, 0.1);

  --breakpoint-header: 58.125rem;

  --ease-social: cubic-bezier(0.42, 0, 0.44, 1.68);
}
@layer base {
  /* Dark Mode Color Palette */
  @variant dark {
    --color-background: #191c1f;
    --color-surface: #1e2124;
    --color-card: #242729;
    --color-text: #c8c4bc;
    --color-heading: #e4e0d8;
    --color-primary: #2a8c74;
    --color-secondary: #3bc4a2;
    --color-accent: rgba(59, 196, 162, 0.1);
  }

  h1 {
    @apply text-text font-heading text-center text-4xl font-bold tracking-tight subpixel-antialiased;
  }
  h2 {
    @apply text-text font-heading text-3xl font-semibold subpixel-antialiased;
  }
  h3 {
    @apply text-text font-sans text-2xl subpixel-antialiased;
  }
  h4 {
    @apply text-text font-sans text-xl subpixel-antialiased;
  }
  h5 {
    @apply text-text font-sans text-lg subpixel-antialiased;
  }
  p,
  li {
    @apply text-text font-sans text-lg subpixel-antialiased;
  }
  /* Class-based dark mode (e.g., with Tailwind) */
  html.dark .prose .astro-code,
  html.dark .prose .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
  .project-content {
    @apply prose-a:decoration-dotted prose-h2:text-primary prose-h2:text-shadow-lg/20 prose-h2:text-shadow-accent dark:prose-h2:text-shadow-primary prose-h2:font-bold dark:prose-h2:text-accent prose-h3:text-primary/90 dark:prose-h3:text-accent/90 prose-h2:text-center prose-img:rounded-2xl prose-img:h-1/2 prose-img:w-1/2 prose-img:mx-auto dark:prose-code:rounded-xs prose-code:font-mono prose-code:text-sm;
  }
}
