/* Import Tailwind */
@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark*)); */

/* Font declarations */
@font-face {
  font-family: "Array Regular";
  src: url("/fonts/Array-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* My Theme :) */
@theme {
  --font-sans: "Figtree", "Inter", system-ui, sans-serif;
  --font-heading: "Array Regular", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --color-primary: hsla(132, 29%, 28%, 1);      /*  hunter-green  */
  --color-secondary: hsla(176, 11%, 73%, 1);    /*    ash-gray    */
  --color-accent: hsla(45, 100%, 56%, 1);       /*  mikado-yellow */
  --color-dark: hsla(0, 0%, 13%, 1);            /*   eerie-black  */
  --color-light: hsla(60, 30%, 96%, 1);         /*   baby-powder  */
}
/* Add Custom Fonts and Colors to common HTML elements */
@layer base {
  h1 {
    @apply text-center font-heading text-5xl text-accent;
  }
  h2 {
    @apply font-heading font-bold;
  }
  p {
    @apply font-sans;
  }
}

@layer components {

}
