/* Import Tailwind */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";
@import "./typography.css";
@custom-variant dark (&:where(.dark, .dark *));

* {
  @apply box-border;
}

/* Keeps Footer at the Bottom of the Page always... */
.site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

@theme {
  --font-heading: "Montserrat", system-ui, sans-serif;
  --font-subheading: "Montserrat", system-ui, sans-serif;
  --font-sans: "Figtree", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  /* Light Mode Color Palette */
  --color-text: #1c2736;
  --color-background: #f9fafb;
  --color-primary: #2d5a23;
  --color-secondary: #e8f5e8;
  --color-accent: #afbc7e;

  --breakpoint-header: 58.125rem;

  --ease-social: cubic-bezier(0.42, 0, 0.44, 1.68);
}
@layer base {
  /* Dark Mode Color Palette */
  @variant dark {
    --color-text: #c9d4e3;
    --color-background: #1c2736;
    --color-primary: #091509;
    --color-secondary: #708042;
    --color-accent: #addba3;
  }

  h1 {
    @apply text-text font-heading text-center text-4xl font-bold tracking-tight subpixel-antialiased;
  }
  h2 {
    @apply text-text font-subheading text-3xl font-semibold subpixel-antialiased;
  }
  h3 {
    @apply text-text font-sans text-2xl subpixel-antialiased;
  }
  h4 {
    @apply text-text font-sans text-xl subpixel-antialiased;
  }
  h5 {
    @apply text-text font-sans text-lg subpixel-antialiased;
  }
  p,
  li {
    @apply text-text font-sans text-lg subpixel-antialiased;
  }
  /* Class-based dark mode (e.g., with Tailwind) */
  html.dark .prose .astro-code,
  html.dark .prose .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
  .project-content {
    @apply prose-a:decoration-dotted prose-h2:text-primary prose-h2:text-shadow-lg/20 prose-h2:text-shadow-accent dark:prose-h2:text-shadow-primary prose-h2:font-bold dark:prose-h2:text-accent prose-h3:text-primary/90 dark:prose-h3:text-accent/90 prose-h2:text-center prose-img:rounded-2xl prose-img:h-1/2 prose-img:w-1/2 prose-img:mx-auto dark:prose-code:rounded-xs prose-code:font-mono prose-code:text-sm;
  }
}
