---
import { SITE_AUTHOR, type ContentType } from "../../utils/consts";
import Search from "astro-pagefind/components/Search";
import { capitalize } from "../../utils/utils";
import MainLayout from "./MainLayout.astro";
interface Props {
  type: ContentType;
  title?: string;
  description: string;
}
const { type, title, description } = Astro.props;
---

<MainLayout
  title={title ? title : `${capitalize(type)} - ${SITE_AUTHOR}`}
  description={description}
>
  <main
    class="bg-secondary/50 dark:bg-secondary/5 mx-16 my-8 flex flex-col gap-4 rounded-4xl lg:flex-row"
  >
    <slot name="before-section" />
    <section
      class="flex shrink grow flex-col items-stretch justify-start gap-12 rounded-4xl p-16 lg:gap-8"
    >
      <slot />
    </section>
    {
      type === "writings" && (
        <aside class="bg-accent/25 dark:bg-primary/40 m-16 flex h-auto basis-6/10 flex-col items-center justify-start rounded-4xl p-8">
          <Search
            id="search"
            slot="navigation"
            className="pagefind-ui"
            uiOptions={{
              showSubResults: true,
              resetStyles: false,
              showImages: false,
            }}
          />
        </aside>
      )
    }
  </main>
</MainLayout>
