---
import { SITE_AUTHOR } from "src/utils/consts";
import Social from "../common/social.astro";
const currentYear = new Date().getFullYear();
interface Props {
  showSocials?: boolean;
}
const { showSocials = true } = Astro.props;
---

<footer class="group">
  {
    showSocials && (
      <div class="flex justify-center">
        <Social />
      </div>
    )
  }
  <section class="bg-tertiary footer:rounded-tl-full footer:rounded-tr-full">
    <h5 class="text-light p-4 text-center">
      Copyright © {currentYear}
      {SITE_AUTHOR}. All Rights Reserved.
    </h5>
  </section>
</footer>
