---
import "../../styles/global.css";
import { ACCENT_COLOR, SITE_AUTHOR } from "../../utils/consts.ts";
import Menu from "../../../public/svg/menu.svg";
import CloseMenu from "../../../public/svg/close_menu.svg";
---

<header>
  <div class="flex items-center justify-between">
    <h1
      class="max-header:flex max-header:mb-2 max-header:mt-2 cursor-pointers hover:text-light hidden"
    >
      <a href="/">{SITE_AUTHOR}</a>
    </h1>
    <button
      id="open-sidebar-button"
      class="max-header:block hidden cursor-pointer max-header:mt-1 max-header:mb-0.5"
      aria-label="open sidebar"
      aria-expanded="false"
      aria-controls="navbar"
    >
      <Menu fill={ACCENT_COLOR} />
    </button>
  </div>
  <nav id="navbar">
    <button
      id="close-sidebar-button"
      class="max-header:block hidden cursor-pointer border-none p-1"
      aria-label="close sidebar"
    >
      <CloseMenu fill={ACCENT_COLOR} />
    </button>
    <h1 class="max-header:hidden hover:text-light block cursor-pointer">
      {SITE_AUTHOR}
    </h1>
    <ul class="header:flex list-none gap-4">
      <li>
        <a href="/about" class="nav-items">
          <h2>About</h2>
        </a>
      </li>
      <li>
        <a href="/projects" class="nav-items">
          <h2>Projects</h2>
        </a>
      </li>
      <li>
        <a href="/writings" class="nav-items">
          <h2>Writings</h2>
        </a>
      </li>
    </ul>
  </nav>
</header>

<!-- Overlay over website content for mobile use only -->
<div
  id="overlay"
  class="fixed inset-0 z-9 hidden bg-black/50"
  aria-hidden="true"
>
</div>
<!-- Logic for Mobile Navigation -->
<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const navbar = document.getElementById("navbar");
    const openButton = document.getElementById("open-sidebar-button");
    const closeButton = document.getElementById("close-sidebar-button");
    const overlay = document.getElementById("overlay");
    const media = window.matchMedia("(width < 700px)");
    function updateNavbar(e) {
      const isMobile = e.matches;
      if (isMobile) {
        navbar.setAttribute("inert", "");
      } else {
        // Is Desktop Device
        navbar.removeAttribute("inert");
      }
    }

    function openSidebar() {
      navbar.classList.add("show");
      openButton.setAttribute("aria-expanded", "true");
      overlay.classList.remove("hidden");
      navbar.removeAttribute("inert");
    }
    function closeSidebar() {
      navbar.classList.remove("show");
      openButton.setAttribute("aria-expanded", "false");
      overlay.classList.add("hidden");
      navbar.setAttribute("inert", "");
    }

    openButton?.addEventListener("click", openSidebar);
    closeButton?.addEventListener("click", closeSidebar);
    overlay?.addEventListener("click", closeSidebar);
    media.addEventListener("change", (e) => updateNavbar(e));
    updateNavbar(media);
  });
</script>
