---
import { SITE_AUTHOR } from "src/utils/consts";
import Social from "./Social.astro";
const currentYear = new Date().getFullYear();
interface Props {
  showSocials?: boolean;
}
const { showSocials = true } = Astro.props;
---

<footer class="bg-primary transition-colors duration-300 ease-in-out">
  {
    showSocials && (
      <div class="flex justify-center">
        <Social />
      </div>
    )
  }
  <section class="bg-tertiary">
    <p class="text-light p-4 text-center">
      Copyright © {currentYear}
      {SITE_AUTHOR}. All Rights Reserved.
    </p>
  </section>
</footer>
