---
import "../../styles/global.css";
import { ACCENT_COLOR } from "../../utils/consts.ts";
import Menu from "../../../public/svg/menu.svg";
import CloseMenu from "../../../public/svg/close_menu.svg";
import Toggle from "../../components/common/theme_toggle.svelte";
---

<header class="bg-primary/95 top-0 z-50 w-full rounded-b-3xl px-4 shadow-2xl">
  <nav>
    <!-- Home Page when Mobile -->
    <a href="/" class="group mr-auto lg:hidden" id="home-link">
      <h1 class="group-hover:text-light transition-colors duration-300">
        Home
      </h1>
    </a>
    <input type="checkbox" id="sidebar-active" class="hidden" />
    <label for="sidebar-active" class="hidden max-lg:block max-lg:p-5">
      <Menu
        fill={ACCENT_COLOR}
        class="cursor-pointer"
        aria-label="Open sidebar"
      />
    <label for="sidebar-active" id="overlay">
      <span class="sr-only">Close sidebar overlay</span>
     </label>
    </label>
    <div class="links-container">
      <label for="sidebar-active" class="hidden max-lg:block max-lg:p-5">
        <CloseMenu
          fill={ACCENT_COLOR}
          class="cursor-pointer"
          aria-label="Close sidebar"
        />
      </label>
      <!-- Home Page when Desktop -->
      <a href="/" class="group mr-auto max-lg:hidden" id="home-link">
        <h1 class="group-hover:text-light transition-colors duration-300">
          Home
        </h1>
      </a>
      <a href="/projects">
        <h2 class="nav-items">Projects</h2>
      </a>
      <a href="/writings">
        <h2 class="nav-items">Writings</h2>
      </a>
      <a href="/contact">
        <h2 class="nav-items">Contact</h2>
      </a>
      <div class="max-lg:mt-2 max-lg:flex max-lg:w-full max-lg:justify-center">
        <Toggle client:only="svelte" />
      </div>
    </div>
  </nav>
</header>
