---
// Obtained from Simple Icons
import GitHub from "../../../public/svg/github.svg";
import Email from "../../../public/svg/email.svg";
---

<div class="socials-container">
  <a
    href="https://github.com/euhystho"
    aria-label="Visit my GitHub profile"
    data-social="GitHub"
    style="--accent-color: #181717;"
  >
    <GitHub height={32} class="hover:fill-white" />
  </a>
  <a
    href="mailto:hello@eugenehysthompson.com"
    aria-label="Send me an email"
    data-social="Email"
    style="--accent-color: #212121;"
    class=""
  >
    <Email height={32} class="hover:fill-white" />
  </a>
</div>
