---
// Obtained from Simple Icons
import GitHub from "public/svg/github.svg";
import Email from "public/svg/email.svg";
import {
  GITHUB_LINK,
  GITHUB_COLOR,
  EMAIL,
  EMAIL_COLOR,
} from "src/utils/consts";
---

<div class="socials-container">
  <a
    href={GITHUB_LINK}
    aria-label="Visit my GitHub profile"
    data-social="GitHub"
    style={`--accent-color: ${GITHUB_COLOR};`}
  >
    <GitHub height={32} class="social-icon" />
  </a>
  <a
    href={EMAIL}
    aria-label="Send me an email"
    data-social="Email"
    style={`--accent-color: ${EMAIL_COLOR};`}
  >
    <Email height={32} class="social-icon" />
  </a>
</div>
